<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="1174" height="622" viewBox="0 0 304.42 183.925" enable-background="new 0 0 304.42 183.925" xml:space="preserve">
<g>
	<path fill="none" stroke="#0081C6" stroke-width="0.6909" stroke-miterlimit="10" d="M259.324,117.569"/>
	<g>
		<polygon fill="#E2E4E7" points="97.488,59.942 118.414,57.236 153.795,77.348 188.74,56.586 224.125,45.908 259.069,38.357     259.324,78.5 224.125,93.71 188.74,107.556 153.775,108.782 118.414,85.542   "/>
		<polygon fill="#C7DEF0" points="83.725,61.895 97.488,59.942 83.725,43.988   "/>
		<polyline fill="none" stroke="#87868A" stroke-width="0.9062" stroke-linecap="round" stroke-miterlimit="10" points="    83.725,62.01 118.766,57.452 153.809,77.315 189.328,56.474 224.369,46.381 259.408,38.242   "/>
		<polyline fill="none" stroke="#0081C6" stroke-width="0.9062" stroke-linecap="round" stroke-miterlimit="10" points="    83.725,43.452 118.766,86.106 153.809,108.897 189.328,107.595 224.369,93.921 259.408,78.616   "/>
	</g>
	<g>
		<g>
			<rect x="202.252" y="1.219" fill="none" width="57.564" height="20.639"/>
			<text transform="matrix(1 0 0 1 202.252 8.0356)"><tspan x="0" y="0" fill="#0081C6" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">Hipotecas </tspan><tspan x="0" y="11.52" fill="#0081C6" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">concedidas</tspan></text>
		</g>
		<g>
			<rect x="107.373" y="1.219" fill="none" width="64.655" height="22.265"/>
			<text transform="matrix(1 0 0 1 107.373 8.0352)"><tspan x="0" y="0" fill="#87868A" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">Transacciones </tspan><tspan x="0" y="11.52" fill="#87868A" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">de vivienda</tspan></text>
		</g>
		<g>
			<rect y="27.917" fill="none" width="67.076" height="8.97"/>
			<text transform="matrix(1 0 0 1 35.541 34.7329)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">450.000</text>
		</g>
		<g>
			<rect y="43.489" fill="none" width="67.076" height="8.97"/>
			<text transform="matrix(1 0 0 1 35.541 50.3052)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">400.000</text>
		</g>
		<g>
			<rect y="59.059" fill="none" width="67.076" height="8.973"/>
			<text transform="matrix(1 0 0 1 35.541 65.8755)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">350.000</text>
		</g>
		<g>
			<rect y="74.631" fill="none" width="67.076" height="8.972"/>
			<text transform="matrix(1 0 0 1 35.541 81.4487)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">300.000</text>
		</g>
		<g>
			<rect y="90.204" fill="none" width="67.076" height="8.971"/>
			<text transform="matrix(1 0 0 1 35.541 97.0205)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">250.000</text>
		</g>
		<g>
			<rect y="105.774" fill="none" width="67.076" height="8.973"/>
			<text transform="matrix(1 0 0 1 35.541 112.5928)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">200.000</text>
		</g>
		<g>
			<rect y="121.349" fill="none" width="67.076" height="8.971"/>
			<text transform="matrix(1 0 0 1 35.541 128.167)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">150.000</text>
		</g>
		<g>
			<rect y="136.95" fill="none" width="67.076" height="8.969"/>
			<text transform="matrix(1 0 0 1 35.541 143.7666)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="9.6">100.000</text>
		</g>
		<rect x="69.898" y="172.905" fill="none" width="27.653" height="11.02"/>
		<text transform="matrix(1 0 0 1 72.6445 180.5732)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="10.8">2011</text>
		<rect x="106.044" y="172.905" fill="none" width="27.653" height="11.02"/>
		<text transform="matrix(1 0 0 1 108.79 180.5732)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="10.8">2012</text>
		<rect x="140.707" y="172.905" fill="none" width="27.654" height="11.02"/>
		<text transform="matrix(1 0 0 1 143.4541 180.5732)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="10.8">2013</text>
		<rect x="175.209" y="172.905" fill="none" width="27.652" height="11.02"/>
		<text transform="matrix(1 0 0 1 177.9541 180.5732)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="10.8">2014</text>
		<rect x="211.594" y="172.905" fill="none" width="27.654" height="11.02"/>
		<text transform="matrix(1 0 0 1 214.3408 180.5732)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="10.8">2015</text>
		<rect x="245.091" y="172.905" fill="none" width="27.653" height="11.02"/>
		<text transform="matrix(1 0 0 1 247.8359 180.5732)" fill="#9A999E" font-family="'ITCFranklinGothicStd-Book'" font-size="10.8">2016</text>
		
			<line fill="none" stroke="#9A999E" stroke-width="0.6909" stroke-miterlimit="10" x1="66.582" y1="163.706" x2="277.377" y2="163.706"/>
		
			<line fill="none" stroke="#87868A" stroke-width="0.9062" stroke-linecap="round" stroke-miterlimit="10" x1="90.6" y1="3.915" x2="103.115" y2="3.915"/>
		
			<line fill="none" stroke="#0081C6" stroke-width="1.0044" stroke-linecap="round" stroke-miterlimit="10" x1="185.731" y1="3.915" x2="198.248" y2="3.915"/>
	</g>
	<g>
		<g>
			<rect x="270.405" y="65.63" fill="none" width="34.015" height="12.001"/>
			<text transform="matrix(1 0 0 1 275.4141 75.0024)" fill="#0081C6" font-family="'ITCFranklinGothicStd-Demi'" font-size="13.2">38%</text>
		</g>
		<g>
			<g>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" x1="224.125" y1="94.204" x2="224.125" y2="94.204"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="0,4.1234" x1="228.248" y1="94.204" x2="283.915" y2="94.204"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" x1="285.977" y1="94.204" x2="285.977" y2="94.204"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="0,4.2959" x1="285.977" y1="89.908" x2="285.977" y2="83.463"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" x1="285.977" y1="81.316" x2="285.977" y2="81.316"/>
			</g>
		</g>
		<g>
			<g>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" x1="224.125" y1="46.688" x2="224.125" y2="46.688"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="0,4.1234" x1="228.248" y1="46.688" x2="283.915" y2="46.688"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" x1="285.977" y1="46.688" x2="285.977" y2="46.688"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="0,3.6966" x1="285.977" y1="50.385" x2="285.977" y2="55.929"/>
				
					<line fill="none" stroke="#C4C6CB" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" x1="285.977" y1="57.778" x2="285.977" y2="57.778"/>
			</g>
		</g>
		
			<line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" x1="224.125" y1="48.307" x2="224.125" y2="91.804"/>
	</g>
</g>
</svg>
