$primary-color: #505050;
$primary-font: sans-serif;
$transition-all: all 1s;
$bg-section-colors : 
	section1 #111111, 
	section2 #333333,
	section2-subsection1 #763409,
	section2-subsection2 #116634, 
	section3 #666666,
	section3-subsection1 #166203,
	section3-subsection2 #616231,
	section3-subsection3 #213231,
	section3-subsection4 #923531,
	section4 #999999;
